@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hanken Grotesk', sans-serif;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #0b549e;
  --link-color: #000000;
}

/* TYPOGRAPHY */
.close-menu-button,
.project-name {
  font-size: 2rem;
}

.email-paragraph,
.footer-text,
.scrimba-link,
.select-language-menu,
.technologies-paragraph,
.technology,
.project-link,
.anchor-page-links,
.cv-paragraph {
  font-weight: bold;
}

.about-description,
.resume-description {
  font-weight: 500;
}

.resume-heading,
.projects-heading,
.certificates-heading {
  font-size: 2.3rem;
}

/* Header */
.heading-role {
  font-weight: 400;
}

.social-icon {
  font-size: 2rem;
}

.links-list li > a {
  font-size: 1.5rem;
  letter-spacing: 3px;
}

.email-paragraph,
.project-link,
.cv-paragraph {
  font-size: 1.2rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* About section */
.about-name {
  font-size: 2rem;
}

.about-presentation {
  font-size: 2.5rem;
}

.about-description,
.project-description {
  line-height: 1.5;
}

.scrimba-link {
  text-decoration: underline;
  text-align: center;
}

/* LAYOUT */
h1, 
h2, 
h3, 
p {
  margin: 0;
}

.header,
.footer {
  padding: 1rem 1.5rem;
}

.resume-section,
.projects-section,
.certificates-section {
  padding: 2rem;
}

.about-section,
.resume-section,
.projects-section,
.certificates-section {
  background-color: #b1d3fd;
}

.resume-section,
.projects-section,
.certificates-section {
  gap: 1rem;
}

.resume-section,
.projects-section {
  height: 600px;
  overflow-y: scroll;
}

.resume-card,
.project-card,
.scrimba-link-container {
  background-color: var(--primary-color);
}

.email-paragraph,
.cv-paragraph {
  cursor: pointer;
  transition: .3s ease-in-out;
}

.email-paragraph:hover,
.cv-paragraph:hover {
  transform: scale(0.95);
  color: #0a66c2;
}

.carousel-button,
.slider-circle-button,
.scroll-to-top-button {
  all: unset;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

a {
  text-decoration: none;
  color: var(--link-color);
  transition: .3s ease-in-out;
}

a:hover {
  transform: scale(0.9);
}

button {
  border: none;
  background: transparent;
}

img {
  width: 100%;
  display: block;
}

ul {
  list-style-type: none;
  padding: 0;
}

.app-wrapper {
  min-height: 100vh;
}

/* Header */
.header {
  position: fixed;
  background-color: var(--primary-color);
  width: 100%;
  justify-content: space-between;
  z-index: 10;
}

.header-inner-container {
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.header-right-div {
  gap: 0.5rem;
}

.select-language-menu {
  all: unset;
  display: flex;
  cursor: pointer;
  align-items: center;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  margin: auto;
  text-align: center;
  width: 70px;
  height: 30px;
  border-radius: 8px;
}

.open-menu-button {
  display: block;
  z-index: 999;
}

.hamburger-menu-bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: var(--secondary-color);
  transition: all 0.3s ease-in-out;
}

.hamburger-menu-open-bar {
  background-color: var(--primary-color);
}

.hamburger-menu-open-bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger-menu-open-bar:nth-child(2) {
  opacity: 0;
}

.hamburger-menu-open-bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.social-container {
  background-color: var(--primary-color);
  width: fit-content;
  align-items: center;
  gap: 1.5rem;
  margin: 1rem auto 0;
}

.social-icon {
  cursor: pointer;
  transition: .3s ease-in-out;
}

.github-icon:hover {
  color: #bbb;
}

.linkedin-icon:hover {
  color: #0a66c2;
}

.gmail-icon:hover {
  color: #c71610;
  transform: scale(0.9);
}

.cv-icon:hover {
  color: #09bb36;
  transform: scale(0.9);
}

/* Navbar */
.header-navbar {
  padding: 4rem;
  position: fixed;
  background-color: var(--secondary-color);
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  transform:translateX(100%);
  transition: .3s ease-in-out;
  z-index: 2;
}

.menu-open {
  transform:translateX(0);
}

.close-menu-button {
  align-self: start;
  color: var(--primary-color);
}

.links-list {
  align-items: center;
  gap: 3rem;
}

.links-list li > a {
  color: var(--primary-color);
}

/* Main Section */
.main-section {
  padding: 11.5rem 2rem 2rem;
  background-color: var(--secondary-color);
  flex: 1;
  gap: 1.5rem;
}

.footer {
  justify-content: center;
}

/* About Section */
.description-card {
  padding: 1.5rem 0;
  gap: 2rem;
  align-items: center;
}

.card-image {
  width: 250px;
  height: auto;
  border: 8px solid var(--primary-color);
  border-radius: 50%;
}

.about-name {
  border-bottom: 3px solid #105cff;
  padding-bottom: 0.5rem;
}

.about-name span {
  display: block;
  text-align: center;
}

.description-container {
  padding: 0 2rem;
}

.about-presentation span {
  display: block;
}

.scrimba-link-container {
  padding: 0.4rem 0.5rem;
  justify-content: center;
  width: 100%;
}

.skills-section {
  align-items: center;
  gap: 0.5rem;
}

.skills-container {
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.skill {
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 8px;
  padding: 0.1rem 0.5rem;
}

/* Resume section */
.resumes-container {
  gap: 2rem;
}

.resume-card {
  background-color: var(--primary-color);
  border-radius: 8px;
  padding: 1rem;
  gap: 0.5rem;
}

.resume-period,
.resume-institute-info {
  color: var(--secondary-color);
}

.resume-img {
  border-radius: 4px;
}

/* Projects section */
.projects-section {
  position: relative;
}

.anchor-page-links-container {
  flex-wrap: wrap;
  gap: 0.4rem;
  justify-content: center;
  margin-bottom: 1rem;
}

.anchor-page-links {
  border: 1px solid #000000;
  border-radius: 8px;
  width: fit-content;
  padding: 0 0.3rem;
  cursor: pointer;
}

.project-card {
  box-shadow: 1px 1px 8px #000;
}

.projects-container {
  gap: 3.2rem;
}

.project-img {
  border-bottom: 5px solid var(--secondary-color);
}

.project-info {
  padding: 1rem;
  gap: 0.5rem;
  text-align: center;
}

.technologies-paragraph {
  width: fit-content;
  border-bottom: 2px solid #000000;
  align-self: center;
  margin-top: 0.8rem;
}

.technologies-container {
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 0.3rem;
}

.technology {
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 12px;
  padding: 0.2rem 0.7rem;
}

.project-link {
  color: var(--secondary-color);
  align-self: center;
  text-align: center;
  text-decoration: underline;
  margin-top: 1rem;
}

.scroll-to-top-button {
  background-color: var(--secondary-color);
  position: fixed;
  bottom: 5%;
  right: 15%;
  padding: 0.9rem 1rem;
  border-radius: 50%;
  transition: .3s ease-in-out;
}

.scroll-to-top-button:hover {
  transform: scale(0.9);
  background-color: #094480;
}

.scroll-to-top-button > * {
  color: var(--primary-color);
  font-size: 1.5rem;
}

/* Certificates Section */
.certificates-section {
  margin: auto;
}

.carousel-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.certificate-img {
  width: 100%;
  object-fit: cover;
  display: block;
  flex-shrink: 0;
  flex-grow: 0;
  transition: .2s ease-in-out;
  cursor: pointer;
}

.carousel-button {
  font-size: 1.5rem;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0.5rem;
  z-index: 1;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.carousel-button:hover {
  background-color: rgb(0, 0, 0, 0.2);
}

.carousel-left-button{
  left: 0;
}

.carousel-right-button{
  right: 0;
}

.slider-buttons-container {
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  translate: -50%;
  gap: 0.5rem;
}

.slider-circle-button {
  cursor: pointer;
  font-size: 0.7rem;
}

.slider-circle-button > * {
  display: block;
}

.current-slide-circle {
  scale: 1.3;
  transition: .3s ease-in-out;
}

.lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
  cursor: zoom-out;
}

/* 778px or above */
@media(min-width: 48.625rem) {
  .certificates-section,
  .resume-section,
  .projects-section {
    width: 70%;
  }

  .header-right-div {
    gap: 4rem;
  }

  .main-section {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  /* About section */
  .about-section {
    width: 60%;
  }
  
  .description-card {
    height: 100%;
    justify-content: space-evenly;
  }

  /* projects section */
  .scroll-to-top-button {
    bottom: 5%;
    right: 20%;
  }

  /* Certificates section */
  .carousel-container {
    margin: auto;
    max-width: 800px;
  }
}

/* 992px or above */
@media(min-width: 62rem) {
  .card-image {
    width: 300px;
  }

  /* Header */
  .open-menu-button,
  .close-menu-button {
    display: none;
  }

  .header-navbar {
    all: unset;
  }

  .links-list {
    flex-direction: row;
    gap: 1rem;
  }

  .links-list li > a {
    font-size: 1.3rem;
    color: var(--secondary-color);
  }

  .links-list li > a:hover {
    text-shadow: 1px 1px 2px var(--secondary-color);
  }

  /* About section */
  .about-name {
    font-size: 3rem;
  }

  .about-name span {
    display: unset;
  }

  /* Certificates section */
  .carousel-container{
    max-width: 900px;
  }
}

/* 1200px or above */ 
@media(min-width: 75rem) {
  .resume-section,
  .projects-section,
  .certificates-section {
    height: 700px;
  }

  .card-image {
    width: 350px;
  }

  /* About section */
  .description-card {
    justify-content: space-evenly;
  }

  /* Projects section */
  .projects-container {
    align-items: center;
  }

  .project-card {
    max-width: 850px;
  }

  /* Projects section */
  .scroll-to-top-button {
    bottom: 10%;
  }
}