@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hanken Grotesk', sans-serif;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #4b99ff;
}

/* Typography */
.heading-role {
  font-weight: 300;
}

.footer-text {
  font-weight: 600;
}

.close-menu-button {
  font-size: 2rem;
}

.links-list li > a {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.about-presentation {
  font-size: 2.5rem;
}

.about-description {
  font-weight: 500;
  line-height: 1.7;
}

.scrimba-link {
  font-size: 1.2rem;
}

/* Layout */
h1,
h2,
h3,
p {
  margin: 0;
}

header,
footer {
  padding: 1rem;
}

.hamburger-menu-string-1,
.hamburger-menu-string-2,
.hamburger-menu-string-3 {
  background-color: var(--secondary-color);
  width: 25px;
  height: 3px;
}

.about-name span,
.about-presentation span {
  display: block;
}

.main-section {
  padding: 1rem;
}

button {
  border: none;
  background: transparent;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #000000;
  transition: .3s ease-in-out;
}

a:hover {
  transform: scale(0.9);
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.app-wrapper {
  border: 1px solid red;
  min-height: 100vh;
}

.main-section {
  border: 1px solid blue;
  flex: 1;
  background-color: var(--secondary-color);
  gap: 1rem;
}

/* Header */
.header {
  justify-content: space-between;
  align-items: center;
}

.heading-name {
  align-items: center;
  gap: 0.3125rem;
}

.heading-name::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: var(--secondary-color);
}

.open-menu-button {
  gap: 0.3rem;
}

/* Menu */
.header-navbar {
  padding: 1rem;
  position: fixed;
  background-color: var(--secondary-color);
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  transform:translateX(100%);
  transition: .3s ease-in-out;
}

.menu-open {
  transform:translateX(0);
}

.close-menu-button {
  align-self: start;
  color: var(--primary-color);
}

.links-list {
  list-style-type: none;
  padding: 0;
  align-items: center;
  gap: 1.5rem;
}

.links-list li > a {
  transition: .2s ease-in-out;
}

.card-container {
  background-color: #c9e1ff;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem 0;
  border-radius: 4px;
  box-shadow: 1px 1px 10px 2px #444444;
}

.card-image {
  border-radius: 100%;
  border: 8px solid var(--primary-color);
  width: 250px;
}

.about-name {
  border-bottom: 3px solid #105cff;
  padding-bottom: 0.5rem;
}

.about-name span {
  text-align: center;
}

.social-container {
  background-color: var(--primary-color);
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 0;
  gap: 2rem;
}

.social-icon {
  font-size: 2rem;
}

.git-icon:hover {
  color: #bbb;
}
.linkedin-icon:hover {
  color: #0a66c2;
}

.gmail-icon:hover {
  color: #c71610;
  cursor: pointer;
  transform: scale(0.9);
  transition: .3s ease-in-out;
}

/* About Section */
.about-section {
  background-color: #c9e1ff;
}

.description-card {
  gap: 1.5rem;
  padding: 1rem 0;
}

.description-container {
  padding: 0 1.5rem;
}

.scrimba-link-container {
  background-color: var(--primary-color);
  width: 100%;
  padding: 0.5rem 0;
  justify-content: center;
}

.scrimba-link {
  width: fit-content;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

.scrimba-link:hover {
  color: #105cff;
  transform: scale(0.95);
}

.footer {
  justify-content: center;
}