@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hanken Grotesk', sans-serif;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #0370ff;
}

/* Typography */
.heading-role {
  font-weight: 300;
}

.footer-text {
  font-weight: 600;
}

.close-menu-button {
  font-size: 2rem;
}

.links-list li > a {
  font-size: 2rem;
  color: var(--primary-color);
}

/* Layout */
h1,
h2,
h3,
p {
  margin: 0;
}

button {
  border: none;
  background: transparent;
}

.hamburger-menu-string-1,
.hamburger-menu-string-2,
.hamburger-menu-string-3 {
  width: 20px;
  height: 3px;
  background-color: var(--secondary-color);
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.app-wrapper {
  border: 1px solid red;
  min-height: 100vh;
}

/* Header */
.header {
  justify-content: space-between;
  align-items: center;
}

.heading-name {
  align-items: center;
  gap: 5px;
}

.heading-name::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: var(--secondary-color);
}

.main-section {
  border: 1px solid blue;
  flex: 1;
}

.open-menu-button {
  gap: 5px;
}

/* Menu */
.header-navbar {
  padding: 1rem;
  position: fixed;
  background-color: var(--secondary-color);
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  transform:translateX(100%);
  transition: .3s ease-in-out;
}

.menu-open {
  transform:translateX(0);
}

.close-menu-button {
  align-self: start;
  color: var(--primary-color);
}

.links-list {
  list-style-type: none;
  padding: 0;
  align-items: center;
  gap: 1.5rem;
}

.footer {
  justify-content: center;
}